@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 400px) {
  html {
    overflow: hidden;
  }
  .center-div {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 600px;
    display: grid;
    grid-template-columns: 133px 133px 133px;
    grid-auto-rows: minmax(40px, auto);
  }
}

@media screen and (min-width: 900px) {
  html {
    overflow: hidden;
  }
  .center-div {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 900px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: minmax(40px, auto);
    background-color: #d9d9d9;
  }
}

nav {
  padding-top: 10px;
  grid-row: 1;
  grid-column: 1/5;
  background-color: #404040;
  color: #ffffff;
}

nav ul li {
  margin-left: 27px;
  font-family: sans-serif;
  display: inline;
}

main {
  padding-top: 5px;
  padding-left: 27px;
  padding-right: 27px;
  grid-row: 2/17;
  grid-column: 1/4;
}
main article h1 {
  font-size: 4 rem;
  font-family: cursive;
}

main article p {
  margin-top: 10px;
  font-size: 2 rem;
  font-family: sans-serif;
  text-align: justify;
}

footer {
  padding-top: 5px;
  grid-row: 17;
  grid-column: 1/5;
  background-color: #404040;
  color: #ffffff;
  font-size: 0.75rem;
}
